@import "../../values.scss";
.Device{
    z-index: 0;
    background: white;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
 
    width: 270px;

    padding: {
        top: 17px;
        bottom: 30px;
    };

   border-radius: 30px;
   box-shadow: 1px 5px 10px rgb(189, 188, 188);

   transition: transform .1s;
   &:hover{
    transform: translate(0,-20px);
    box-shadow: 1px 5px 10px rgb(70, 70, 70);
   }
}
.DeviceText{
    margin: {
        top: 30px;
        bottom: 20px;
    };
  text-align: center;
  >hr{
    margin-top: 10px;
  }
  >p{
    margin-top: 10px;
    font-size: 20px;
    color: $MainPurpule;
   }
}
.LikeBox{
    margin-bottom: 10px;
    width: 100%;
    text-align: end;
    padding-right: 27px;
    transition: transform 0.1s;
}
@media screen and (max-width:  600px){
    .Device{
        margin: auto auto 30px auto;
        width: 210px;
        button{
            width: 150px !important;
        }
        >img{
            width: 130px;
            height: 150px;
        }
        &:hover{
            transform: none;
            box-shadow: 1px 5px 10px rgb(189, 188, 188);
        }
    }
    .LikeBox{
        &:active{
            transform: translate(0,-3px);
        }
    }
    .DeviceText{
        margin: {
            top: 10px;
            bottom: 7px;
        };
        >b{
            display: block;
            max-width: 150px;
            font-size: 14px;
        }
        >p{
            font-size: 18px;
        }
    }
}
@media screen and (max-height: 700px) and (orientation: landscape){
    .Device{
        &:hover{
            transform: none;
            box-shadow: 1px 5px 10px rgb(189, 188, 188);
        }
    }
    .LikeBox{
        &:active{
            transform: translate(0,-3px);
        }
    }
}
