@import "../../../values.scss";
.MyModal{
    z-index: 2;
    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    opacity: 0;
    visibility: hidden;

    background-color: rgba(0, 0, 0, 0.4);

    transition: opacity 0.3s;
   
    .MyModalContent{
       opacity: 0;
       transform: translate(0,-70%);
       visibility: hidden;
       transition:  all 0.3s;
    }
    &.active{
        opacity: 1;
        visibility: visible;
        .MyModalContent{
            transform: translate(0,0);
            opacity: 1;
            visibility: visible;
         }
    }
}
.MyModalContent{
    padding: 40px;
    min-width: 250px;
    background-color: white;
    border-radius: 20px;
}
@media screen and (max-width: 600px) {
    .MyModalContent{
        padding: 20px;
    }
}