@import "../../values.scss";

.AllDevices{
    min-height: 75.7vh;
    margin-top: 50px;
    h2{
        margin-bottom: 20px;
        color: $MainPurpule;
        >span{
            color: black;
        }
    }
}
.AllDevicesBox{
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    padding: {
        top: 20px;
    };
}
.Search{
    >div{
        background: linear-gradient(90deg, #F6C8FF 52.27%, rgba(246, 200, 255, 0) 117.52%);
        border-radius: 20px 2px 20px 2px;
        padding-left: 18px;
        >input{
            border: none;
            outline: none;
            padding: {
                left: 40px
            };
            background: url("../../../public/imgs/UI/search.svg") no-repeat center left;
            color: $MainPurpule;
            font-weight: 700;
             width: 250px;
             height: 42px;
             &::placeholder{
                color: $MainPurpuleLight;
             }
          }
    }

}
.SearchAndText{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 600px) {
    .AllDevicesBox{
        >h2{
            font-size: 24px;
            
        }
    }
    .SearchAndText {
        >h2{
            text-align: center;
        }
        justify-content: center;
    }
}