@import "../../values.scss";
.Header{
    z-index: 1;
    margin: auto;
    width: 100%;
    max-width: 1440px;
    position: fixed;
}
.HeaderElement{
    padding: {
        right: 20px;
        left: 20px;
    };
    position: relative;
    background-color: white;
    height: 83px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.HeaderShadow{
    background-color: white;
   height: 2px;
   width: 100%;
   box-shadow: 0 5px 10px #b3b2b2;
   -webkit-box-shadow: 0 5px 10px #b3b2b2;
   -moz-box-shadow: 0 5px 10px #b3b2b2;
}
.LogoBox{
    text-decoration: none;
    display: flex;
    h3{
      display: flex;
      align-items: center;
    }
    &:active{
        color: $MainPurpuleLight;
    }
}
.UIBox{
    list-style: none;
    display: flex;
    >li{
        width: 32px;
        height: 30px;
        padding: 2px;
        cursor: pointer;
        border-radius: 5px;
        display: flex;
        transition: background-color 0.3s;
        >div{
            display: flex;
            >a{
                padding-left: 2px;
                display: flex;
            }
        }
    }
    >li:hover{
        background-color: $MainPurpuleLight;
    }
    
}
.Ammount{
    margin-top: 15px;
    margin-right: 5px;
    color: white;
    background-color: $MainPurpule;
    text-align: center;
    border-radius: 10px;
    width: 15px;
    height: 15px;
    font-size: 12px;
    display: none;
    &.active{
        display: inline;
    }
}

@media screen and (max-width: 600px) {
  .LogoBox{
    >h3{
        font-size: 17px;
    }
  }
}