@import "../../values.scss";

.FavoriteDevices{
    h2{
        margin-bottom: 20px;
        color: $MainPurpule;
        >span{
            color: black;
        }
    }
    min-height: 74.1vh;
}
.AllFavoriteDevices{
    padding: {
        top: 20px;
    };
    justify-content:space-evenly ;
    display: flex;
    flex-wrap: wrap;
}
@media screen and (max-width:  600px) {
    .FavoriteDevices{
        padding-top: 70px;
        h2{
            font-size: 26px;
            margin: auto;
            text-align: center;
        }
    }
}