@import "../../values.scss";

.Footer{
    border-top: 1px solid $MainPurpule;
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    margin-top: 50px;
}

.LeftFooter{
   display: flex;
   justify-content: center;
   align-items: center; 
   >h4{
      margin-left: 15px;
      padding-top: 30px;
   }
}
.RightFooter{
    justify-content: center;
    align-items: center; 
    display: flex;
    >a{
        margin-left: 15px;
    }
    >h4{
        padding-top: 20px;
    }
}
.Contacts{
    justify-content: center;
    align-items: center; 
    display: flex;
}

@media screen and (max-width: 600px) {
    .Footer{
        flex-direction: column;
        height: 0;
        padding: {
            top: 10px;
            left: 20px;
            right: 20px;
        };
    }
    .LeftFooter{
        text-wrap:pretty;
        >h4{
            max-width: 200px;
            padding-top: 0;
            font-size: 13px;
        }
        >img{
            height: 40px;
            width: 40px;
        }
    }
    .RightFooter{
        flex-direction: column;
    }
}