@import "./values.scss";
*{
    font-family: $MainFont;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    h1{
       font-size: 54px;
    }
    h2{
      font-size: 36px;
    }
    h3{
       font-size: 24px;
    }
}
.Wrapper{
    background-size: cover;
    display: flex;
    justify-content: center;
}
.Body{
    box-shadow: 0 0 5px 0px #b3b2b2;
-webkit-box-shadow: 0 0 5px 0px#b3b2b2;
-moz-box-shadow: 0 0 5px 0px #b3b2b2;
    background-color: white;
    width: 1440px;
    padding: {
        top: 100px;
        right: 20px;
        left: 20px;
    };
}
@media screen and (max-width: 600px) {
    .Body {
        padding: 0;
    }
    *{
        h2{
            max-width: 300px
        }
    }  
}
